*.egg-info/
build/
__pycache__/
.ipynb_checkpoints/
/__pycache__
all_combinations_reasonable_range.csv
Analyse_supp.ipynb
Analyze_stops.ipynb
burts.py
epr_traj.csv
global_config_picker_test.py
LW.png
OptimalStop.zip
paper_codes/best_position.py
paper_codes/discarded_analysis.py
paper_codes/experiments_dbscan.py
paper_codes/experiments_info.py
paper_codes/k_calibration.py
paper_codes/real_db_noresampling.csv
paper_codes/real_info_noresampling.csv
paper_codes/real_stdb_noresampling.csv
paper_codes/results_analysis.py
paper_codes/results_epr_supplement.csv
paper_codes/results_rw_norevisit.csv
paper_codes/results_rw_supplement.csv
paper_codes/results_utils.py
paper_codes/sensitivity_picks_supp.txt
paper_codes/sparsechain_processing.py
paper_codes/subset_calibrated_global_baseline_summary.csv
paper_codes/supp.csv
paper_codes/supplement_analysis.py
paper_codes/supplement_results.csv
paper_codes/synthetic_db_noresampling.csv
paper_codes/synthetic_info_noresampling.csv
paper_codes/synthetic_stdb_noresampling.csv
paper_codes/utils.py
Pareto_comp.ipynb
pareto_comparison.png
pareto_run1.pkl
pareto_run2.pkl
picks.csv
predictability_metrics.py
reference_infostop.pkl
reference_infostop_rw_bitrevisit.pkl
reference_infostop_rw_norevisit.pkl
reference_lachesis_epr_traj.pkl
reference_lachesis_rw.pkl
reference_lachesis_rw_EPR.pkl
reference_lachesis_rw_prefreturn.pkl
reference_lachesis_rw_weakreturn.pkl
RESULTS/Stop_detection_scores/reference_dbscan.pkl
RESULTS/Stop_detection_scores/reference_dbscan_syn.pkl
RESULTS/Stop_detection_scores/reference_infostop.pkl
RESULTS/Stop_detection_scores/reference_infostop_syn.pkl
RESULTS/Stop_detection_scores/reference_stdbscan.pkl
RESULTS/Stop_detection_scores/reference_stdbscan_syn.pkl
RESULTS/Stop_detection_scores/reference_stopgo.pkl
RESULTS/Stop_detection_scores/reference_stopgo_syn.pkl
RESULTS/Stop_detection_scores/results_dbscan.pkl
RESULTS/Stop_detection_scores/results_dbscan_syn.pkl
RESULTS/Stop_detection_scores/results_dbscan_syn_full.pkl
RESULTS/Stop_detection_scores/results_infostop.pkl
RESULTS/Stop_detection_scores/results_infostop_syn.pkl
RESULTS/Stop_detection_scores/results_stdbscan.pkl
RESULTS/Stop_detection_scores/results_stdbscan_syn.pkl
RESULTS/Stop_detection_scores/results_stdbscan_syn_full.pkl
rw.csv
rw_EPR.csv
rw_prefreturn.csv
rw_weakreturn.csv
stop_sizes.csv
stop_sizes.py
supplement_data_generation.py
supplement_experiment.py
supplement_infostop.pkl
supplement_infostop_rw_bitrevisit.pkl
supplement_infostop_rw_norevisit.pkl
supplement_lachesis_epr_traj.pkl
supplement_lachesis_rw.pkl
supplement_lachesis_rw_EPR.pkl
supplement_lachesis_rw_prefreturn.pkl
supplement_lachesis_rw_weakreturn.pkl
unreasonable_picks.csv
paper_codes/utils.py
paper_codes/results_utils.py
paper_codes/results_analysis.py
paper_codes/experiments_info.py
paper_codes/experiments_dbscan.py
__pycache__/utils.cpython-39.pyc
__pycache__/stop_detection.cpython-39.pyc
__pycache__/predictability_metrics.cpython-39.pyc
__pycache__/evaluation_metrics.cpython-39.pyc
.idea/vcs.xml
.idea/optimalstop.iml
.idea/modules.xml
.idea/misc.xml
.idea/inspectionProfiles/profiles_settings.xml
*.pyc
